@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Playwrite+CU:wght@100..400&family=Playwrite+HU:wght@100..400&display=swap');

body {
    font-family: "Arima", system-ui;
    background-color: #1F2D3D;
    background-image: url('../img/FondoLogin.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 20px; 
}

.container {
    display: flex;
    justify-content: space-between; /* Asegura espacio entre logo y formulario */
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Limita el ancho máximo del contenedor */
}

.logo {
    text-align: center;
}

.logo img {
    width: 550px; /* Aumenta el tamaño del logo */
    height: auto;
}

#registroForm, #loginForm {
    background-color: #FAFAFA;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    color: #333;
    margin-right: 20px;
}

#registroForm h2, #loginForm h2 {
    text-align: center;
    color: #333;
    font-size: 2.5em; /* Cambia este valor al tamaño que desees */
}

#registroForm , #loginForm  {
    width: 100%;
}

#registroForm .ui-inputtext, 
#registroForm .ui-password,
#loginForm .ui-inputtext, 
#loginForm .ui-password {
    width: 390px; 
    padding: 13px;
    margin-bottom: 10px;
    border-radius: 25px;
    border: none;
    background-color:#d3d3d4; 
    color: #000; 
    box-sizing: border-box;
}


#registroForm .ui-commandbutton, 
#loginForm .ui-commandbutton {
    width: 100%; /* Asegúrate de que ocupen todo el ancho del contenedor */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 25px; /* Ajusta el radio para una apariencia más suave */
    background-color: #8F7C6A;
    color: white;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color 0.3s ease; /* Añade una transición suave */
}

#registroForm .ui-commandbutton:hover, 
#loginForm .ui-commandbutton:hover {
    background-color: #7A6755; /* Cambia el color en hover */
}


#registroForm a, #loginForm a {
    color: #8F7C6A;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 10px;
}

#registroForm a:hover, #loginForm a:hover {
    text-decoration: underline;
}